<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Pybo</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        {% if g.user %}
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ g.user.username }} (로그아웃)</a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav"> <!--네비게이션 바에서 메뉴 항목 목록을 스타일링함 -->
            <li class="nav-item "> <!--개별 메뉴 항목(li)을 스타일링함 , margin,padding을 깔끔하게 제공함 -->
                <a class="nav-link" href="{{ url_for('auth.signup') }}">계정생성</a>
                <!--링크(a)를 스타일링함 링크의 색상, 여백, 상태(활성/비활성)등을 정의함. -->
                <!--hoover하면 텍스트 생상이 강조됨 -->
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('auth.login')}}">로그인</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
